build==1.2.2.post1 ; python_version >= "3.12" and python_version < "4.0"
cachecontrol==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (os_name == "nt" or sys_platform == "win32" or platform_system == "Windows")
colorlog==6.8.2 ; python_version >= "3.12" and python_version < "4.0"
crashtest==0.4.1 ; python_version >= "3.12" and python_version < "4.0"
cryptography==43.0.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
cython==3.0.11 ; python_version >= "3.12" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.12" and python_version < "4.0"
dulwich==0.21.7 ; python_version >= "3.12" and python_version < "4.0"
fastjsonschema==2.20.0 ; python_version >= "3.12" and python_version < "4.0"
ffmpeg-python==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.12" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
installer==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
keyring==24.3.1 ; python_version >= "3.12" and python_version < "4.0"
more-itertools==10.5.0 ; python_version >= "3.12" and python_version < "4.0"
msgpack==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.1.2 ; python_version >= "3.12" and python_version < "4.0"
opencv-python==4.10.0.84 ; python_version >= "3.12" and python_version < "4.0"
os-helper @ git+https://github.com/warith-harchaoui/os-helper.git@main ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.12" and python_version < "4.0"
pkginfo==1.11.2 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4.0"
poetry-core==1.9.1 ; python_version >= "3.12" and python_version < "4.0"
poetry-plugin-export==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
poetry2setup==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
poetry==1.8.4 ; python_version >= "3.12" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0"
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.12" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
rapidfuzz==3.10.1 ; python_version >= "3.12" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
setuptools==75.1.0 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.13.2 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.66.5 ; python_version >= "3.12" and python_version < "4.0"
trove-classifiers==2024.10.21.16 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
validators==0.34.0 ; python_version >= "3.12" and python_version < "4.0"
vidgear==0.3.3 ; python_version >= "3.12" and python_version < "4.0"
virtualenv==20.27.0 ; python_version >= "3.12" and python_version < "4.0"
wheel==0.44.0 ; python_version >= "3.12" and python_version < "4.0"
xattr==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
